<div class="container">
  <div class="row">
    <div class="col-sm fadeIn fastest">
      <h4>Pending</h4>
      <div>
        <app-task-item [task]="task" *ngFor="let task of pendingTasks"></app-task-item>
      </div>
    </div>
    <div class="col-sm fadeIn fast">
    <h4>In Progress</h4>
      <div>
        <app-task-item [task]="task" *ngFor="let task of inProgressTasks"></app-task-item>
      </div>
    </div>
    <div class="col-sm fadeIn animated">
    <h4>Done</h4>
      <div>
        <app-task-item [task]="task" *ngFor="let task of doneTasks"></app-task-item>
      </div>
    </div>
  </div>
</div>