<form class="fadeIn fast pb-5">
  <h5>Order of Tasks</h5>
  <div class="form-group">
    <div class="form-check">
    <input class="form-check-input" type="radio" name="option_value" id="orderOne" value="0" [(ngModel)]="order.option_value" required>
    <label class="form-check-label" for="orderOne">
      Order first by date and time, then by priority.
    </label>
    </div>
    <div class="form-check">
    <input class="form-check-input" type="radio" name="option_value" id="orderTwo" value="1" [(ngModel)]="order.option_value">
    <label class="form-check-label" for="orderTwo">
      Order first by priority, then by date and time.
    </label>
    </div>
  </div>
  <hr>
  <div class="form-group col-sm">
    <button (click)="updateOption(this.order)" type="submit" class="btn btn-outline-dark btn-block"><span octicon="tools"></span> Change</button>
  </div>
</form>