<div class="jumbotron fadeIn fast">
  <h1 class="display-4"><b>Name:</b> {{ task.name }}</h1>
  <hr class="my-4">
  <h1 class="lead"><b>Description:</b> {{ task.description }}</h1>
  <hr class="my-4">
  <p class="lead"><b>Deadline Date & Time:</b> {{ task.deadline_date }} {{ task.deadline_time }}</p>
  <hr class="my-4">
  <p class="lead"><b>Priority:</b> {{ getPriority() }}</p>
  <hr class="my-4">
  <p class="lead"><b>State:</b> {{ task.task_state }}</p>
  <hr class="my-4">
  <div class="row">
    <div class="col-sm">
      <a [routerLink]="['/board']" class="btn btn-outline-dark btn-block">Board</a>
    </div>
    <div class="col-sm" *ngIf="task.task_state != '3'">
      <button type="button" class="btn btn-outline-dark btn-block" data-toggle="modal" data-target="#changeStateModal" role="button">Change State</button>
    </div>
    <div class="col-sm" *ngIf="task.task_state != '3'" >
      <button type="button" class="btn btn-outline-dark btn-block" data-toggle="modal" data-target="#editModal" role="button">Edit Task</button>
    </div>
  </div>
</div>

<app-state-change-modal [code]="task.code" [state]="task.task_state" ></app-state-change-modal>

<app-edit-modal [task]="this.task"></app-edit-modal>
